@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #606c38;
  --secondary-color: #283618;
  --background-color: #fefae0;
  --accent-color: #dda15e;
  --text-color: #bc6c25;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #283618;
    --secondary-color: #606c38;
    --background-color: #283618;
    --accent-color: #dda15e;
    --text-color: #fefae0;
  }
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
  background: linear-gradient(
      to bottom,
      transparent,
      var(--background-color)
    )
    var(--secondary-color);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.button {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  background-color: var(--primary-color);
  color: var(--background-color);
  border-radius: 0.25rem;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: var(--accent-color);
}

.text-balance {
  text-wrap: balance;
}

/* Add styles for the landing page */
.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  background-color: var(--background-color);
  color: var(--text-color);
}

.landing-page img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 1rem;
}

.landing-page h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.landing-page p {
  font-size: 1rem;
  margin-bottom: 0.25rem;
}