<mat-card class="mb-5">
  <mat-card-title>Skills</mat-card-title>
  <mat-card-content>
    <mat-list>
      <mat-list-item><strong>Languages:</strong> SQL, Python, Java, Spark, Scala, R, Oracle, MongoDB, HTML, CSS, JavaScript</mat-list-item>
      <mat-list-item><strong>Frameworks:</strong> React.js, Node.js, Angular.js, Sci-Kit Learn, NumPy, NLTK, Pandas, TensorFlow</mat-list-item>
      <mat-list-item><strong>Other:</strong> AWS, Azure, Google Cloud, Microsoft Power BI, Tableau</mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>