<section class="mb-8">
  <h2 class="text-2xl font-semibold mb-4">Contact</h2>
  <div class="contact-info text-center">
    <p><a href="mailto:shashwat.singh98&#64;gmail.com" class="text-blue-500 hover:underline">shashwat.singh98&#64;gmail.com</a></p>
    <p>(732)-210-7862</p>
    <p><a href="https://shashw4t.github.io/SJP/#home" class="text-blue-500 hover:underline">shashw4t.github.io/SJP/#home</a></p>
    <p><a href="https://github.com/shashwhat" class="text-blue-500 hover:underline">github.com/shashwhat</a></p>
    <p><a href="https://linkedin.com/in/shashwat" class="text-blue-500 hover:underline">linkedin.com/in/shashwat</a></p>
  </div>
</section>