<mat-card class="mb-5">
    <mat-card-title>Experience</mat-card-title>
    <mat-card-content>
      <h3>Amazon Inc, Software Development Engineer</h3>
      <p><strong>Location:</strong> Remote</p>
      <p><strong>Timeline:</strong> Aug 2021 – Jul 2022</p>
      <mat-list>
        <mat-list-item>Collaborative team member in the Finance Automation Branch, contributing to the Collections Workbench (CWB) Team.</mat-list-item>
        <mat-list-item>Engineered and deployed Java code enhancements to optimize CWB functionality, resulting in a 10% decrease in system downtime and enhanced response time to monitoring alarms and customer/AR complaints.</mat-list-item>
        <mat-list-item>Managed continuous deployment (CI/CD) processes, integrating dozens of services, proxies, and databases to handle billing for millions of AWS users and over 200K business users.</mat-list-item>
        <mat-list-item>Utilized agile workflow, emphasizing continuous documentation and code updates; streamlined the codebase for superior functionality, readability, and troubleshooting efficiency.</mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>